//
// Breadcrumb
// --------------------------------------------------

.breadcrumb-item {
  &::before {
    margin-top: 0.0625rem;
    font: {
      family: "cartzilla-icons";
      size: 0.9em;
    }
    vertical-align: middle;
  }
  > a {
    transition: $nav-link-transition;
    color: $breadcrumb-color;
    &:hover {
      color: $breadcrumb-hover-color;
    }
    > i {
      margin: {
        top: -0.175rem;
        right: 0.375rem;
      }
      font-size: 1.05em;
      vertical-align: middle;
    }
  }
  &.active {
    cursor: default;
  }
}

// Light version

.breadcrumb-light .breadcrumb-item {
  &::before {
    color: $breadcrumb-light-divider-color;
  }
  > a {
    color: $breadcrumb-light-color;
    &:hover {
      color: $breadcrumb-light-hover-color;
    }
  }
  &.active {
    color: $breadcrumb-light-active-color;
  }
}
