//
// Countdown Timer
// --------------------------------------------------

.countdown {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;

  .countdown-value {
    font-weight: $countdown-value-font-weight;
  }
  .countdown-label {
    margin-left: 0.125rem;
    font-size: $countdown-label-font-size;
  }
  .countdown-days,
  .countdown-hours,
  .countdown-minutes,
  .countdown-seconds {
    margin: {
      right: 0.75rem;
      bottom: 0.75rem;
    }
  }
  .countdown-seconds {
    margin-right: 0;
  }
}
