<!--Topbar-->
<div class="topbar topbar-dark bg-dark">
    <div class="container">
        <div>
            <div class="topbar-text dropdown disable-autohide">
               
                    <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="me-2" src={{countryService.getSelectCountry().flag}} width="20" alt={{countryService.getSelectCountry().label}}>
                        {{ countryService.getSelectCountry().initial}} / $
                    </a> 
               <ul class="my-1 dropdown-menu">
                    <li class="dropdown-item">
                        <select class="form-select form-select-sm">
                         {% for cu in currencyService.getCurrencyList() %}
                          <option value={{cu.label}}>{{cu.symbol}} {{cu.label}}</option>
                         {% endfor %}
                        </select>
                    </li>
                   {% for c in countryService.getCountryList() %}
                    <li>
                        <a class="pb-1 dropdown-item" href="{{ path('home', {_locale: c.countrycodelang} ) }}">
                            <img class="me-2" src={{ c.flag }} width="20" alt={{c.lang}}>{{c.label}}
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </div>
           <div class="topbar-text text-nowrap d-none d-md-inline-block border-start border-light ps-3 ms-3">
            <span class="text-muted me-1">Available 24/7 at</span>
            <a class="topbar-link" href="tel:0032493557337">(00)32 493 55 73 37</a>
           </div>
        </div>
        <div class="topbar-text dropdown d-md-none ms-auto">
           <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Wishlist / Compare / Track</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="#">
                     <i class="ci-heart text-muted me-2"></i>List d'envie
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="ci-heart text-muted me-2"></i>Compare
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="ci-heart text-muted me-2"></i>Suivi livraison
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block ms-3 text-nowrap">
            <a class="topbar-link d-none d-md-inline-block" href="#">
                <i class="ci-heart mt-n1"></i>Liste d'envies
            </a>
            <a class="topbar-link ms-3 ps-3 border-start-light d-none d-md-inline-block">
                <i class="ci-compare mt-n1"></i>Compare
            </a>
            <a class="topbar-link ms-3 border-start border-light ps-3 d-none d-md-inline-block" href="#">
                <i class="ci-location mt-n1"></i> Suivi des commandes
            </a>
        </div>
    </div>
</div>